* {
    font-family:"Roboto" san-serif;
}

header {
    position: relative;
    height: 52px;
}

nav {
    position: fixed;
    z-index: 2;
    background: #212121;
    width: 100%;
    height: 52px;

}


.menu {
    display: flex;
    justify-content: space-between;
    padding: 14px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 40px;
}

.subheader {
    position: absolute;
    top: 52px;
    min-width: 100%;
    height: 84px;
    background: rgba(0, 0, 0, 0.6);
}

.subheader .subheader_logo {
    display: block;
    margin-top: 17px;
    max-width: 100%;

}
.subheader .subheader_official {
    margin-top: 6px;
   font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subheader .subheader_call {
    margin-top: 19px;
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: right;
    text-transform: uppercase;
}

.subheader .subheader_btn {
width: 172px;
height: 46px;
background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: none;
margin-top: 19px;
font-weight: 400;
font-size: 14px;
text-transform: uppercase;
color: #FFFFFF;
}


.promo {
    min-height: 800px;
    padding: 150px 0 185px 0;
    background:url('../img/uber_bg.png') center center/cover no-repeat;

}

.promo .promo_header {
    margin: 0;
    font-weight: 900;
    line-height: 24px;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 23px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
}

.promo .promo_descr {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;

}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.advantage {
    padding: 18px 0 65px 0;

}

.advantage .advantage_header {
    margin: 0 auto;
    background-color: black;
    width: 113px;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.advantage .advantage_label {
    font-weight: 400 ;
    font-size: 11px;
    color: #FFFFFF;
    line-height: 24px;
}

.advantage .advantage_title {
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.advantage .advantage_bloc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.advantage .advantage_round {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    margin-right: 25px;
}


.advantage .advantage_descr {
    width: 371px;
    
}

.advantage .advantage_descr .advantage_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.advantage .advantage_descr .advantage_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;

}

